body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.boxes{
    height: 25vh;
    width: 15vw;
    margin: 30px;
    border-radius: 20px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
#btn{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #79c09d;
    font-size: 20px;
    cursor: pointer;
}
.head_rule{
    font-size: 7vh;
    margin: 20px;
}
.rule{
    font-size: 3vh;
    margin: 20px;
    font-weight: 550;
}