body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.boxes{
    height: 25vh;
    width: 15vw;
    margin: 30px;
    border-radius: 20px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}